[Unit]
Description=Firecracker

[Service]
ExecStart=/usr/bin/firecracker --api-sock /run/firecracker/firecracker.socket
WorkingDirectory=/var/lib/firecracker/
RuntimeDirectory=firecracker

[Install]
WantedBy=multi-user.target
